.scoreContainer{
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    justify-content: center;
}

.score{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
}

.message{
    color: var(--grid-background-color);
}

.player{
    font-size: 4rem;
}