
:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    margin: 0;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}