
:root{
    font-size: 62.5%;
    --box-background-color: rgb(200, 200, 200);
    --grid-background-color: rgb(100, 100, 100);
}

body{
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}